nav{
    background-color:black;
    color:rgb(197, 116, 116);
    width:1500PX;
    height:80px;
    display:flex;
    justify-content: end;
}

li{
    list-style: none;
    margin-left: 50px;
    margin-top:10px;
}
nav ul{
    
    align-items:center;
    display:flex;

    

}
@media(max-width:768px0){
    nav{
        position:relative;
    }
    nav ul{
       flex-direction:column;
       position:absolute;
       background-color:black;
       width:100px;
       height:100px;
    }
}
